In [50]:
#importing the needed libaries
import pandas as pd
import numpy as np

In [51]:
#reading the data
data = pd.read_csv('train.csv')
data.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [52]:
#checking for correlation between the factors and promotion
data.corr()

,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,Promoted_or_Not
Trainings_Attended,1.000000,0.078710,-0.062042,0.056215,-0.044789,-0.007409,0.041065,-0.024345
Year_of_birth,0.078710,1.000000,-0.175572,0.654666,0.025337,0.013627,0.048390,0.017991
Last_performance_score,-0.062042,-0.175572,1.000000,-0.190333,0.276350,0.026587,0.057836,0.119690
Year_of_recruitment,0.056215,0.654666,-0.190333,1.000000,0.076910,0.041995,0.037477,0.012287
Targets_met,-0.044789,0.025337,0.276350,0.076910,1.000000,0.092934,0.077201,0.224518
Previous_Award,-0.007409,0.013627,0.026587,0.041995,0.092934,1.000000,0.072360,0.201434
Training_score_average,0.041065,0.048390,0.057836,0.037477,0.077201,0.072360,1.000000,0.178448
Promoted_or_Not,-0.024345,0.017991,0.119690,0.012287,0.224518,0.201434,0.178448,1.000000

In [53]:
#checking for null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   EmployeeNo                           38312 non-null  object
 1   Division                             38312 non-null  object
 2   Qualification                        36633 non-null  object
 3   Gender                               38312 non-null  object
 4   Channel_of_Recruitment               38312 non-null  object
 5   Trainings_Attended                   38312 non-null  int64
 6   Year_of_birth                        38312 non-null  int64
 7   Last_performance_score               38312 non-null  float64
 8   Year_of_recruitment                  38312 non-null  int64
 9   Targets_met                          38312 non-null  int64
 10  Previous_Award                       38312 non-null  int64
 11  Training_score_average               38312 non-null  int64
 12  State_Of_Origin                      38312 non-null  object
 13  Foreign_schooled                     38312 non-null  object
 14  Marital_Status                       38312 non-null  object
 15  Past_Disciplinary_Action             38312 non-null  object
 16  Previous_IntraDepartmental_Movement  38312 non-null  object
 17  No_of_previous_employers             38312 non-null  object
 18  Promoted_or_Not                      38312 non-null  int64
dtypes: float64(1), int64(7), object(11)
memory usage: 5.6+ MB

In [54]:
#counting amount of male & female
data['Gender'].value_counts()

Male      26880
Female    11432
Name: Gender, dtype: int64

In [55]:
#counting amount of promoted & not promoted
data['Promoted_or_Not'].value_counts()

0    35071
1     3241
Name: Promoted_or_Not, dtype: int64

In [56]:
# percentage of people promoted and not promoted
data['Promoted_or_Not'].value_counts(normalize = True)

0    0.915405
1    0.084595
Name: Promoted_or_Not, dtype: float64

In [61]:
#% of female and male in the pop
data['Gender'].value_counts(normalize=True)

Male      0.701608
Female    0.298392
Name: Gender, dtype: float64

In [63]:
#% of male and female that were promoted
data[data['Promoted_or_Not']==1]['Gender'].value_counts(normalize=True)

Male      0.685899
Female    0.314101
Name: Gender, dtype: float64

In [64]:
#% of male and female that were'nt promoted
data[data['Promoted_or_Not']==0]['Gender'].value_counts(normalize=True)

Male      0.70306
Female    0.29694
Name: Gender, dtype: float64

ANALYSIS

In [65]:
data[data['Promoted_or_Not']==1]['Qualification'].value_counts(normalize=True)

First Degree or HND         0.663185
MSc, MBA and PhD            0.320355
Non-University Education    0.016461
Name: Qualification, dtype: float64

In [66]:
data[data['Promoted_or_Not']==0]['Qualification'].value_counts(normalize=True)

First Degree or HND         0.701530
MSc, MBA and PhD            0.282518
Non-University Education    0.015953
Name: Qualification, dtype: float64

In [67]:
data[data['Promoted_or_Not']==1]['Trainings_Attended'].value_counts(normalize=True)

2    0.838322
3    0.126813
4    0.028386
5    0.005245
7    0.000617
6    0.000617
Name: Trainings_Attended, dtype: float64

In [68]:
data[data['Promoted_or_Not']==1]['Channel_of_Recruitment'].value_counts(normalize=True)

Agency and others                  0.554150
Direct Internal process            0.415612
Referral and Special candidates    0.030238
Name: Channel_of_Recruitment, dtype: float64

In [69]:
data[data['Promoted_or_Not']==1]['Year_of_birth'].value_counts(normalize=True)

1991    0.072508
1993    0.066955
1988    0.066338
1990    0.065103
1989    0.062944
1992    0.062326
1987    0.061092
1986    0.058932
1994    0.055230
1985    0.045973
1984    0.040420
1983    0.038877
1982    0.036100
1995    0.036100
1981    0.024067
1980    0.021598
1979    0.019130
1978    0.017896
1997    0.016353
1996    0.013885
1977    0.013576
1976    0.011108
1975    0.010799
1973    0.009256
1998    0.008022
1972    0.007405
1971    0.007097
1974    0.006171
1969    0.006171
1970    0.005862
1965    0.004937
1967    0.004628
1999    0.004011
1963    0.003703
1968    0.003085
1962    0.003085
1966    0.003085
1961    0.002468
2000    0.001234
1964    0.001234
2001    0.000617
1956    0.000309
1952    0.000309
Name: Year_of_birth, dtype: float64

In [70]:
data[data['Promoted_or_Not']==0]['Year_of_birth'].value_counts(normalize=True)

1991    0.065838
1990    0.065439
1989    0.063785
1992    0.062103
1988    0.058538
1993    0.057027
1987    0.055858
1994    0.051496
1986    0.048216
1985    0.046106
1984    0.039178
1995    0.037039
1983    0.034673
1981    0.030909
1982    0.030738
1996    0.024664
1980    0.023467
1979    0.020957
1978    0.017878
1977    0.015854
1997    0.015483
1976    0.014684
1975    0.013487
1974    0.010664
1973    0.010464
1971    0.009409
1972    0.008212
1998    0.007955
1970    0.006758
1969    0.006530
1968    0.006359
1966    0.005617
1967    0.005132
1964    0.004676
1965    0.004619
1999    0.004391
1963    0.004249
1961    0.003963
1962    0.003536
2001    0.001967
2000    0.001768
1957    0.000114
1958    0.000086
1960    0.000029
1955    0.000029
1950    0.000029
1959    0.000029
Name: Year_of_birth, dtype: float64

In [71]:
data[data['Promoted_or_Not']==1]['Last_performance_score'].value_counts(normalize=True)

12.5    0.400802
7.5     0.288183
10.0    0.174329
0.0     0.075902
5.0     0.042579
2.5     0.018204
Name: Last_performance_score, dtype: float64

In [72]:
data[data['Promoted_or_Not']==1]['Targets_met'].value_counts(normalize=True)

1    0.705955
0    0.294045
Name: Targets_met, dtype: float64

In [73]:
data[data['Promoted_or_Not']==1]['Previous_Award'].value_counts(normalize=True)

0    0.877198
1    0.122802
Name: Previous_Award, dtype: float64

In [74]:
data[data['Promoted_or_Not']==1]['Previous_Award'].value_counts(normalize=True)

0    0.877198
1    0.122802
Name: Previous_Award, dtype: float64

In [75]:
data['Last_performance_score'].mean()

7.698958550845688

In [77]:
# comparing Targets met to last performance score
data[data['Targets_met']==1]['Last_performance_score'].value_counts(normalize=True)

12.5    0.388790
7.5     0.246747
10.0    0.208592
0.0     0.075052
5.0     0.040521
2.5     0.040299
Name: Last_performance_score, dtype: float64

In [79]:
# comparing Targets met to Trainings_Attended
data[data['Targets_met']==1]['Trainings_Attended'].value_counts(normalize=True)

2    0.829193
3    0.135389
4    0.028172
5    0.005472
6    0.000887
7    0.000444
8    0.000296
9    0.000148
Name: Trainings_Attended, dtype: float64

In [80]:
# comparing Targets met to Channel_of_Recruitment
data[data['Targets_met']==1]['Channel_of_Recruitment'].value_counts(normalize=True)

Agency and others                  0.551020
Direct Internal process            0.419107
Referral and Special candidates    0.029873
Name: Channel_of_Recruitment, dtype: float64

In [81]:
# comparing Targets met to Qualification
data[data['Targets_met']==1]['Qualification'].value_counts(normalize=True)

First Degree or HND         0.694966
MSc, MBA and PhD            0.287109
Non-University Education    0.017925
Name: Qualification, dtype: float64

In [82]:
# comparing Targets met to Previous_Award
data[data['Targets_met']==1]['Previous_Award'].value_counts(normalize=True)

0    0.957927
1    0.042073
Name: Previous_Award, dtype: float64

In [83]:
#sorting based on possible determining factors for promotion
data.sort_values(by=['Targets_met','Last_performance_score','Training_score_average','Trainings_Attended'],ascending=False).head(10)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
4803,YAK/S/06774,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1993,12.5,2017,1,0,91,OGUN,Yes,Married,No,No,1,1
8017,YAK/S/11341,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1990,12.5,2012,1,1,91,OSUN,Yes,Married,No,No,1,1
14278,YAK/S/20333,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1987,12.5,2014,1,1,91,LAGOS,Yes,Married,No,No,1,1
15983,YAK/S/22812,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1992,12.5,2014,1,0,91,FCT,Yes,Married,No,No,1,1
27444,YAK/S/39166,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1991,12.5,2012,1,0,91,FCT,Yes,Married,No,No,2,1
28793,YAK/S/41102,Sourcing and Purchasing,First Degree or HND,Male,Direct Internal process,2,1985,12.5,2014,1,0,91,PLATEAU,Yes,Married,No,No,1,1
12616,YAK/S/17945,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,4,1990,12.5,2011,1,0,90,KATSINA,Yes,Married,No,No,1,1
13458,YAK/S/19153,Research and Innovation,"MSc, MBA and PhD",Male,Agency and others,4,1983,12.5,2012,1,0,90,LAGOS,Yes,Married,No,No,1,1
30174,YAK/S/43085,Business Finance Operations,First Degree or HND,Male,Agency and others,3,1990,12.5,2013,1,1,90,EBONYI,No,Married,No,No,0,1
6507,YAK/S/09216,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1993,12.5,2016,1,0,90,ANAMBRA,Yes,Single,No,No,2,1

In [84]:
#creating new df that contains only the data we require for promotion
promo = data[['Targets_met','Last_performance_score','Qualification','Channel_of_Recruitment','Trainings_Attended','Previous_Award','Promoted_or_Not']]

In [85]:
promo

,Targets_met,Last_performance_score,Qualification,Channel_of_Recruitment,Trainings_Attended,Previous_Award,Promoted_or_Not
0,1,12.5,"MSc, MBA and PhD",Direct Internal process,2,0,0
1,0,12.5,First Degree or HND,Agency and others,2,0,0
2,0,7.5,First Degree or HND,Direct Internal process,2,0,0
3,0,2.5,First Degree or HND,Agency and others,3,0,0
4,0,7.5,First Degree or HND,Direct Internal process,3,0,0
...,...,...,...,...,...,...,...
38307,0,0.0,First Degree or HND,Direct Internal process,2,0,0
38308,0,5.0,"MSc, MBA and PhD",Agency and others,2,0,0
38309,1,12.5,First Degree or HND,Agency and others,2,0,0
38310,0,2.5,NaN,Direct Internal process,2,0,0
38311,0,2.5,First Degree or HND,Agency and others,2,0,0

In [102]:
#setting new criteria for promotion
merit = promo[promo['Targets_met']==1][promo['Last_performance_score']>=7.5][promo['Trainings_Attended']<=3][promo['Promoted_or_Not']==0][promo['Previous_Award']==0]

<ipython-input-102-1e18d71f74e4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merit = promo[promo['Targets_met']==1][promo['Last_performance_score']>=7.5][promo['Trainings_Attended']<=3][promo['Promoted_or_Not']==0][promo['Previous_Award']==0]
<ipython-input-102-1e18d71f74e4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merit = promo[promo['Targets_met']==1][promo['Last_performance_score']>=7.5][promo['Trainings_Attended']<=3][promo['Promoted_or_Not']==0][promo['Previous_Award']==0]
<ipython-input-102-1e18d71f74e4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merit = promo[promo['Targets_met']==1][promo['Last_performance_score']>=7.5][promo['Trainings_Attended']<=3][promo['Promoted_or_Not']==0][promo['Previous_Award']==0]
<ipython-input-102-1e18d71f74e4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merit = promo[promo['Targets_met']==1][promo['Last_performance_score']>=7.5][promo['Trainings_Attended']<=3][promo['Promoted_or_Not']==0][promo['Previous_Award']==0]

In [103]:
#number of workers that deserve to be promoted
merit.shape

(8864, 7)

In [104]:
#top 5 workers to be promoted
merit.head()

,Targets_met,Last_performance_score,Qualification,Channel_of_Recruitment,Trainings_Attended,Previous_Award,Promoted_or_Not
0,1,12.5,"MSc, MBA and PhD",Direct Internal process,2,0,0
8,1,12.5,"MSc, MBA and PhD",Direct Internal process,2,0,0
10,1,12.5,First Degree or HND,Direct Internal process,2,0,0
19,1,12.5,First Degree or HND,Agency and others,2,0,0
20,1,12.5,First Degree or HND,Agency and others,2,0,0